@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #6630F0, #5126BD, #9B79F2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(48, 22, 112);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #301670;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2 {
    color: #3C2770;
}

p {
    text-align: justify;
}